@model personapi_dotnet.Models.Entities.Profesion

<h2>Editar Profesión</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Nom">Nombre</label>
        <input type="text" class="form-control" asp-for="Nom" />
    </div>
    <div class="form-group">
        <label for="Des">Descripción</label>
        <textarea class="form-control" asp-for="Des"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
